<div class="all-sec sns" >
  <img srcset="{{'title_footer_01.png' | asset_url }}"
  style="width:100%;height:auto;	vertical-align:top;">
  <p>暮らしの余白をデザインする<br>コンセプトショップ</p>
  <div style="text-align:center;position:relative;height:10vh;">
    <a href="https://www.instagram.com/m_rieren57" class="btn-sns btn-gradient-sns"
    target="_blank"style="color:#FCEBB6;"><span>Instagram</span></a>
  </div>
  <div style="text-align:center;position:relative;height:10vh;">
    <a href="" class="btn-sns btn-gradient-sns"
    target="_blank"style="color:#FCEBB6;"><span>Twitter</span></a>
  </div>
  <div style="text-align:center;position:relative;height:10vh;">
    <a href="https://www.instagram.com/m_rieren57" class="btn-sns btn-gradient-sns"
    target="_blank"style="color:#FCEBB6;"><span>LINE</span></a>
  </div>
  <div style="text-align:center;position:relative;height:10vh;">
    <a href="" class="btn-sns btn-gradient-sns"
    target="_blank"style="color:#FCEBB6;"><span>Pinterest</span></a>
  </div>
</div>
