
<!-- Flickity HTML init
  "groupCells"
-->
{% comment %}
'{ "groupCells": 3.5 }' 横幅の表示数
{% endcomment %}
<div class="carousel" data-flickity='{ "groupCells": 3.5 }' >
  {% for product in collections %}
  {% comment %}
  <!-->product.image != nullと一緒<-->
  widthで各スライドの幅を指定
  iconという文字列が入っているコレクション画像名のみ出力
  {% endcomment %}
  {% assign icon_name =  product.image | img_url: '2048x' %}
  {% if  icon_name contains "icon" %}
    {% if product.image %}
      <li style="list-style-type:none;width:24%;">
        <div class="carousel-cell">
          <a href="{{product.url}}" style="text-decoration: none;">
            <img class="category_img" src="{{product.image | img_url: '2048x' }}" style="width:60%;height:auto;" >
            <p style="color:#004c3d">{{product.title}}</p>
          </a>
        </div>
      </li>
    {% endif %}
    {% endif %}
  {% endfor %}

</div>
{% schema %}
{
        "blocks": [
            {
                "type": "text",
                "name": "citron_category",
                "settings": [
                    {
                        "id": "slide_image",
                        "type": "image_picker",
                        "label": "Slide Image"
                    },
                    {
                        "id": "slide_title",
                        "type": "text",
                        "label": "Slide Title"
                    },
                    {
                        "id": "slide_text",
                        "type": "text",
                        "label": "Slide Text"
                    },
                    {
                        "id": "slide_link",
                        "type": "text",
                        "label": "Slide Link text"
                    },
                    {
                        "id": "slide_color",
                        "type": "color",
                        "label": "Color picker"
                    }
                ]
            }
        ]
    }
{% endschema %}
