<div >
<img class="scroll" srcset ="{{'citron_top_text.png' | asset_url}}"style="position:absolute;left:4%;width:10%;display:none;width:30px;">
</div>
<script>
/*
  const obj1 = {name:"apple",color:"red",type:"fruit"};
  $.each(obj1, function(index, value) {
  console.log(index + '= ' + value);
  })
  console.log('obj=%o',obj1);
  */
  var top_img = $('.top_img');
  var scrollarrow_first=top_img.offset().top+top_img.height();
  $('.scroll').css({'top':scrollarrow_first});
  $(window).scroll(function() {
    //fadein機能
    $(".scroll").css({"display":""});
    $(".scroll").addClass("scroll_in");
    //fadein機能
    //スクロール追跡機能
    var top = $(this).scrollTop();
    var scrollarrow = this.innerHeight  + top - this.innerHeight*0.6;

    //console.log(top_img.offset().top+top_img.height()*0.6);
    if(scrollarrow < top_img.offset().top+top_img.height()*0.3 ){
      //console.log(top_img.offset().top+top_img.height()*0.6);
      $('.scroll').css('top',top_img.offset().top+top_img.height()*0.3);
    }
    else{
      // windowがスクロールされた時に実行する処理、元のトップからいくら、スクロールされている画面か
      //console.log("画面位置"+$(this).scrollTop());
      $('.scroll').css('top',scrollarrow);
    }
    });
</script>
